---
---

@import "{{ site.theme }}";

.wrapper {
    width: unset;
}

section {
    width: unset;
    float: unset;
    margin-left: 350px;
}

@media print, screen and (max-width: 960px) {
    section {
        margin: 0;
    }
}
